<a href="{{post.usernameUrl}}" classNames="trigger-user-card {{classNames}}" data-user-card="{{post.username}}">
  {{#unless controller.site.mobileView}}
    {{avatar post imageSize="huge"}}
  {{else}}
    {{avatar post imageSize="large"}}
  {{/unless}}
</a>
